*{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;

}

.tartalom{
    width: 80%;
    background-color: #58506E;
    margin: 0 auto;
}

.gorogorszag{
    width: 400px;
    border-radius: 20px 20px 0 0;
}

.meteorak{
    width: 400px;
    border-radius: 20px 20px 0 0;


}

.gorog{
    float: left;
}

.met{
    float: right;
}
header{
    width: 80%;
    margin: 0 auto;
}


body{
    background-color: rgba(255, 193, 7, 1.0);
}

.table{
    text-align: center;
    width: 800px;
    margin: 0 auto 20px;
}

footer{
    background-color: #1A1A1A;
    padding: 10px;
    text-align: center;
    color: #fff;
}

p{
    text-align: justify;
    margin: 25px;
}

figure{
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
   
}

h1,h2{
    text-align: center;
}
figcaption{
    text-align: center;
    font-weight: bold;
}

h1:hover, h2:hover{
    color: rgba(255, 193, 7, 1.0) ;
}

.logo{
    height: 60px;
}

span{
    
    font-style: italic;
}
a{
    text-decoration: none;
    color: rgba(255, 193, 7, 1.0);
}